/* --- COLORTABLE ---
 *  Text:
 *  #574A44 (Blackish)
 *  #F3F3F3 (Whiteish)
 *  #FFDE4D (Yellowish)
 *  cornflowerblue (Blueish)
 *
 *  Background Colors (Layout) :
 *  .color1 { background-color: #EEEEEE; }
 *  .color2 { background-color: white; }
 *  .color3 { background-color: black; }
 *  .color4 { background-color: #242424; }
 *  .color5 { background-color: #801C00; }
 *  .color6 { background-color: #400E00; }
 *  petrol = #005f6A
 *  khaki = #A18C75
 *  pistazie = #D3DE99
 */

/* --- FONTS ---
 *
 *  raleway
 *  spectral sc
 *
 *
 *
 *
 */

 /* Variables */

 /* Font size (Type scale) */
:root {
    --base-size: 1rem;
    --type-scale: 1.25;
    --text: calc(var(--links-figcaption) * var(--type-scale));
    --links-figcaption: calc(var(--base-size) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));
    --h2: calc(var(--base-size) / var(--type-scale));
}

 /* Change Box Model */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* START    --- Website Layout */

body {
    background-color: #400E00;
}

.wrapper {
    width: 99%;
    margin: 0.5% auto;
    display: grid;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    /*grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));*/
    grid-template-columns: repeat(4, minmax(auto, 1fr));
}

/* Navigation and text under pictures */
figcaption, a {
    font-size: 16px;
}

/* Normal textsize */
p, span, i, main a, hr {
    font-size: 20px;
}

/* Big headline */
h1 {
    font-family: 'Spectral SC', serif;
    font-size: 65px;
    text-shadow: 4px 2px rgba(255, 255, 255, 0.300);
    color: white;
    border: 5px solid white;
    box-shadow: 4px 2px rgba(255, 255, 255, 0.300);
    padding: 0.5rem;
}

/* Article headlines */
h2 {
    font-family: 'Spectral SC', serif;
    font-size: 45px;
    text-shadow: 2px 1px rgb(61, 61, 61);
}

/* END      --- Website Layout */
/* START    --- Navigation */

nav {
    margin-top: -0.5%;
    margin-left: -0.5%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    width: 12.5vw;
}

nav .logo {
    background-color: #400E00;
    padding-bottom: 1rem;
    opacity: 97%;
}

nav figure {
    margin: 0;
    padding: 1rem;
}

nav figcaption {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

nav figcaption:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

nav .navigation {
    background-color: #400E00;
    opacity: 97.5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

nav li:nth-child(odd) {
    background-color: rgb(87, 19, 0);
}

nav li:first-child {
    border-top: 1px solid #213644;
}

nav li {
    border-bottom: 1px solid #213644;
}

nav a {
    display: block;
    text-align: center;
    padding: calc(0.6rem + 0.5vh) 0;
    text-decoration: none;
    color: #D3DE99;
}

nav a:hover {
    background-color: #242424;
    text-decoration: underline;
}

nav .triangle-finish {
    width: 0;
    height: 0;
    opacity: 97.5%;
    border-top: 12.5vw solid #400E00;
    border-right: 12.5vw solid transparent;
}

/* END      --- Navigation */
/* START    --- Header */

header {
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    position: absolute;
}

.banner img {
    display: block;
    width: 100%;
}

/* END      --- Header */
/* START    --- Main */

main {
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #F1F1EF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

main article {
    width: 75%;
    margin: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* START    --- Article headline */

main .news-heading {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

main .article-headline,
main .author-date {
    margin: 0;
    text-align: center;
}

main .news-heading a,
main .news a {
    color: #FB6C3B;
    text-decoration: underline;
}

main .news-heading a {
    margin-right: 1.5rem;
}

main .news-heading a:hover,
main .news a:hover {
    color: black;
    cursor: pointer;
}

/* END      --- Article headline */
/* START    --- Article text */

main .news {

    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: justify;
    margin: 1rem 0;
}

main .news img {
    width: 40%;
}

main .news p {
    margin: 0;
    padding: 0;
    width: 55%;
}

/* END      --- Article text */
/* START    --- Seperation of articles */
  
hr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    outline: none;
    border: none;
    color: black;
    text-align: center;
    height: 1.5em;
    width: 85%;
}
hr::before {
    content: "";
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.1rem;
}
hr::after {
    content: attr(data-content);
    position: relative;
    color: black;
    padding: 0 5px;
    line-height: 1.5em;
    background-color: #F1F1EF;
}

/* END      --- Seperation of articles */
/* END      --- Main */
/* START    --- Footer */

footer {
    color: white;
    background: #342B2C;
    background-repeat: no-repeat;
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

footer .footer {
    flex-basis: 75%;
    border: 1px yellow solid;
}

footer .legal {
    flex-basis: 20%;
    border: 1px blue solid;
}

/* END      --- Footer */